[Unit]
Description=Lidar Auto Start
After=network-online.target time-sync.target

[Service]
Type=simple
Environment="ROS_DOMAIN_ID=0"
ExecStart=/home/sunrise/livox_ws/src/fastlio_imu/scripts/start_lidar.sh
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target